<!Doctype html>
<html>
<head>
	{% load static %}
	<title>{{ character.name }}</title>
	<link type="text/css" rel="stylesheet" href="{% static 'materialize.css' %}"/>

	<style>
		body
		{
			background-image: url("{% static 'gochiusa/background.jpg' %}");
		}

		.maxsize
		{
			max-width: 100%;
			height: auto;
		}
	</style>
</head>

<body>
	<div class = "container">
		<div class = "center-align">
			<div class = "row">
				<div class = "col s12">
					<div class = "white z-depth-3">
						<img src = "{{ character.image.url }}" class = "maxsize">
						
						<table>
							<thead>
								<tr>
									<th>이름</th>
									<th>생일</th>
									<th>키</th>
									<th>혈액형</th>
								</tr>
							</thead>

							<tbody>
								<tr>
									<td>{{ character.name }}</td>
									<td>{{ character.birth }}</td>
									<td>{{ character.stature }}</td>
									<td>{{ character.blood_type }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>