<!Doctype html>
<html>
<head>
	{% load static %}
	<title>{{ character.name }}</title>
	<link type="text/css" rel="stylesheet" href="{% static 'materialize.css' %}" 
</head>

<body>
	<div class = "container">
		<div class = "row">
			<img src = "/{{ character.image }}">
		</div>

		<div class = "row">
			<table>
				<thead>
					<tr>
						<th>이름</th>
						<th>생일</th>
						<th>키</th>
						<th>혈액형</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td>{{ character.name }}</td>
						<td>{{ character.birth }}</td>
						<td>{{ character.stature }}</td>
						<td>{{ character.blood_type }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>