<!Doctype html>
<html>
<head>
	{% load static %}
	<title>gochiusa</title>
	<link type = "text/css" rel = "stylesheet" href = "{% static 'materialize.css' %}" media = "screen,projection"/>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	
	<style>
	body
	{
		background-image: url("{% static 'gochiusa/background.jpg' %}");
	}
	</style>
</head>

<body>
	<div class = "row valign-wrapper">
		<div class ="col s8">
			<div class = "card z-depth-3">
				<div class = "card-image">
					<img src = "{% static 'gochiusa/all.png' %}"/>
				</div>

				<div class = "card-content">
					<h4>Character</h4>
				</div>

				<div class = "card-action">
					{% for character in characters %}
						<a href = "/gochiusa/{{ character.name }}">{{ character.name }}</a>
					{% endfor %}

					<a href = "/gochiusa/post">
						<span class = "badge"><i class = "material-icons">add</i></span>
					</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>