<!Doctype html>
<html>
<head>
	{% load static %}
	<title>login</title>
	<link type = "text/css" rel = "stylesheet" href = "{% static 'materialize.css' %}" media = "screen,projection"/>
	<link href = "https://fonts.googleapis.com/icon?family=Material+Icons" rel = "stylesheet">

	<style>
	body
	{
		background-image: url("{% static 'gochiusa/background.jpg' %}");
	}
	</style>
</head>
<body>
	<div class = "container">
		<div class = "z-depth-3">
			{% if form.errors %}
			<p>ID나 비밀번호가 일치하지 않습니다.</p>
			{% endif %}

			{% if next %}
			    {% if user.is_authenticated %}
			    <p>권한이 없는 페이지에 접근하였으니, 권한이 있는 계정으로 로그인하세요.</p>
			    {% else %}
			    <p>이 페이지를 보려면 로그인을 해야 합니다.</p>
			    {% endif %}
			{% endif %}

			<form method = "post" action = "{% url 'login' %}" class = "container">
				{% csrf_token %}
				<div class = "row">
					<div class = "input-field">
						<input autofocus = "" id = "id_username" maxlength = "254" name = "username" type = "text" class = "validate" required />
						<label for = "id_username">ID</label>
					</div>
				</div>

				<div class = "row">
					<div class = "input-field">
						<input id = "id_password" name = "password" type = "password" class = "validate" required />
						<label for = "id_password">Password</label>
					</div>
				</div>

				<button class="btn waves-effect waves-light" type="submit" name="action">Submit
					<i class="material-icons right">send</i>
				</button>

				<input type = "hidden" name = "next" value = "{{ next }}" />
			</form>
		</div>
	</div>

	<script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.js"></script>
    <script type = "text/javascript" src = "{% static 'materialize.js' %}"></script>

    <script>

</body>
</html>