<!Doctype html>
<html>
<head>
	{% load static %}
	<title>post</title>
	<link type = "text/css" rel = "stylesheet" href = "{% static 'materialize.css' %}" media = "screen,projection"/>
	<link href = "https://fonts.googleapis.com/icon?family=Material+Icons" rel = "stylesheet">
</head>
<body>
	<div class = "row">
		<form action = "#" class = "col s12" method = "post">
			{% csrf_token %}
			<div class = "row">
				<div class = "input-field col s2">
					<input id = "name" type = "text" langth = "20" />
					<label for = "name">name</label>
				</div>
			</div>

			<div class = "row">
				<div class = "range-field col s6">
					<input id = "stature" type = "range" min = "0" max = "200" />
					<label for = "stature">stature</label>
				</div>
			</div>

			<div class = "row">
				<div class = "col s3">
					 <input id = "birth" type = "date" class = "datepicker" />
					 <label for = "birth">birth</label>
				</div>

				<div class = "input-field col s3">
					<select>
						<option value = "" disabled selected>choose blood type</option>
						<option value = "1">A</option>
						<option value = "2">B</option>
						<option value = "3">O</option>
						<option value = "4">AB</option>
					</select>
				</div>
			</div>

			<div class = "row">
				<div class = "col s6">
					<div class = "file-field input-field">
						<div class = "btn">
							<span>IMAGE</span>
							<input type = "file"/>
						</div>

						<div clas = "file-path-wrapper">
							<input class = "file-path validate" type = "text" placeholder = "Upload character's image" />
						</div>
					</div>
				</div>
			</div>

			<div class = "row">
				<button class = "btn waves-effect waves-light" type = "submit" name = "action">Submit
    				<i class = "material-icons right">send</i>
				</button>
			</div>
		</form>
	</div>

	<script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.js"></script>
    <script type = "text/javascript" src = "{% static 'materialize.js' %}"></script>

    <script>
		$(document).ready(function() {
			$('select').material_select();
		});

		$(document).ready(function() {
    		$('input#name').characterCounter();
		});

		$('.datepicker').pickadate({
    		selectMonths: true,
    		selectYears: 16
		});
    </script>
</body>
</html>