{% load staticfiles %}
<html>
	<head>
		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="{% static 'materialize.css' %}"  media="screen,projection"/>
	</head>
	<body>
		<div class = "row">
		<div class = "center col s6 light-blue lighten-4 light-blue-text text-darken-2">chino</div>
		<div class = "center col s6 orange lighten-4 orange-text text-darken-2">cocoa</div>

		<div class = "center col s4 deep-purple lighten-4 deep-purple-text text-darken-2">rize</div>
		<div class = "center col s4 light-green lighten-4 light-green-text text-darken-2">chiya</div>
		<div class = "center col s4 yellow lighten-4 yellow-text text-darken-2">sharo</div>
	</div>
	</body>
</html>